__pycache__/
build/
dist/
Output/
desktop.ini
.doit*
FrontPanelUSB-DriverOnly-*.exe
qmcontrol/__pycache__/
qmcontrol/version.py
qmcontrol/licenses.txt
qmcontrol/ui/*py
qmcontrol/settings/old
qmcontrol/shims/old
qmcontrol/nmr_data/old
# qmcontrol/_ok.pyd
# qmcontrol/ok.py
# qmcontrol/okFrontPanel.dll
qmcontrol/desktop.ini