[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.21.2"
scipy = "~=1.7.1"
matplotlib = "~=3.5.0"
pyqtgraph = "~=0.12.3"
pyside6 = "~=6.2.2"
pywin32 = {version = "*",sys_platform = "== 'win32'"}

[dev-packages]
pyinstaller = "*"
pyinstaller-hooks-contrib = "*"
pip-licenses = "*"
doit = "*"
auto-tag = "*"
gitpython = "*"
virtualenv = "*"
pipenv = "*"
ipython = "*"

[requires]
python_version = "3.9.7"
